@media screen and (max-width: 900px) {
    .carousel img {
        width: calc(100% / 3);
    }
}

@media screen and (max-width: 750px) {
    .carousel img {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 550px) {
    .carousel img {
        width: 100%;
    }
}

@media screen and (max-width: 330px) {
    .carousel img {
        height: 250px;
    }
    .wrapper .icon {
        font-size: 1rem;
        height: 30px;
    width: 30px;
    }
}
