:root {
  --secondaryBackgroundClr: #0a173e;
  --primaryBackgroundClr:#060677;
  --primaryText:#050545;
  --secondaryText:#3e3edc;
  --white:#fff;
}

/**************** SLIDESHOW ******************/
main {
  display: flex;
  flex-direction: column;
  height: 85vh;
}

#slideshow
{
  height: 100%;
}

.slideshow {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80vh;
  overflow: hidden;
}

.slideshow .slider * {
  outline: none;
}
.slideshow .slider .item {
  height: 80vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  border: none;
  margin-top: 50px;
}
.slideshow .slider .item .text {
  display: none;
}
.slideshow .slider .item img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slideshow .slick-dots {
  position: fixed;
  z-index: 100;
  width: 40px;
  height: auto;
  bottom: auto;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  left: auto;
  color: #fff;
  display: block;
}

/* Your CSS code */
.slideshow .slick-dots.hide {
  display: none;
}


.slideshow .slick-dots li {
  display: block;
  width: 100%;
  height: auto;
}
.slideshow .slick-dots li button {
  position: relative;
  width: 20px;
  height: 15px;
  text-align: center;
  cursor: pointer;
}

.slideshow .slick-dots li button:hover {
  opacity: 1 !important;
}

.slideshow .slick-dots li button:before {
  content: "";
  background: #fff;
  color: #fff;
  height: 5px;
  width: 50px;
  border-radius: 0;
  position: absolute;
  top: 50%;
  right: 0;
  left: auto;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
  opacity: 0.6;
}
.slideshow .slick-dots li.slick-active button:before {
  width: 80px;
  opacity: 1;
}

.slideshow.slideshow-right {
  left: 0;
  z-index: 1;
  width: 50vw;
  pointer-events: none;
}
.slideshow.slideshow-right .slider {
  left: 0;
  position: absolute;
}

.slideshow-text {
  position: absolute;
  top: 60%;
  left: 30%;
  height: 5rem;
  transform: translate(-50%, -50%);
  z-index: 100;
  font-size: 40px;
  width: 50rem;
  text-align: center;
  color: #fff;
  font-weight: 50;
  pointer-events: none;
  line-height: 0.9;
}

@media (max-width: 1210px) {
  .slideshow-text{
    left: 40%;
  }
}

@media (max-width: 900px) {
  main{
    height: 70vh;
  }
  .slideshow {
    height: 65vh;
  }
  .slideshow-text {
    font-size: 35px;
    width: 30rem;
    top: 50%;
  }
  .slideshow .slick-dots {
    top: 40%;
  }
}

@media (max-width: 600px) {
  .slideshow-text {
    font-size: 30px;
    left: 50%;
    /* width: 30rem; */

  }
}

@media (max-width: 480px) {
  .slideshow-text{
    left: 50%;
    font-size: 23px;
     width: 20rem;
  }
}

@media (max-width: 315px) {
  .slideshow-text{
    left: 50%;
    font-size: 20px;
     width: 18rem;
  }
}


.slideshow-text .item {
  height: 6.7rem !important;
}

.slick-slider
{
  position: absolute !important;
}

/**************** SLIDESHOW CLOSED******************/

section {
  margin-bottom: 5rem !important;
}

.section-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tagline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.6rem;
  width: 65%;
  text-align: center;
}

.tagline h1{
  color: var(--primaryText);
}
.tagline p{
  color: var(--secondaryText);
  font-size: 20px;
  line-height: 25px;
}

/**************** PRODUCTS ***********************/

#products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 3rem;
}

#products h1{
  font-size: 30px;
  background-color:#060677;
  color: var(--white);
  padding: 1rem;
  border-radius: 20px;
}

.wrapper {
    /* position: relative; */
    /* max-width: 1200px; */
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.wrapper .icon {
    height: 50px;
    width: 50px;
    text-align: center;
    cursor: pointer;
    font-size: 1.3rem;
    line-height: 46px;
    border-radius: 50%;
    color: #fff;
    background: linear-gradient(to bottom, #060677, #b9addb);
    box-shadow: 0 8px 20px rgba(0,0,0,0.5),
                inset 0px 4px 4px rgba(255,255,255,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in-out;
}

.wrapper i:active {
  transform: scale(1.03);
}

.arrows {
    position: relative;
    display: flex;
    gap: 20px;
    transform: translateY(50%);
    /* bottom: -20%; */
    /* margin-bottom: 1.5rem; */
}
.arrows .left {
  left: 10px;
}

.wrapper .carousel {
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
    cursor: pointer;
    scroll-behavior: smooth;
}

.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img {
    pointer-events: none;
}

.carousel img {
    height: 340px;
    width: calc(100% / 4);
    object-fit: cover;
    margin-left: 14px;
}

.carousel img:first-child {
    margin-left: 0;
}